<!DOCTYPE html>
<head>
    <title>Plot</title>
    <link rel = "stylesheet" href = "/static/css/content.css">
</head>
<header class = "nav-container">
    <div class = "nav">
        <a href = "/">Home</a>
        <a href="https://www.linkedin.com/in/danil-r-a-04b579291/">About Me</a>
        <a href="mailto:danilraaa07@gmail.com">Contact me</a>
    </div>
</header>
<body>
    <div class = "container">
        <img class = "image" src="/process" alt="Plot Image"/>
        <h2>Displacement(Area under the curve) : {{area}}m</h2>
    </div>
</body>
</html>