<!DOCTYPE html>
<head>
    <title>Velocity-Time</title>
    <link rel = "stylesheet" href = "/static/css/styles.css">
</head>
<header class = "nav-container">
    <div class = "nav">
        <a href = "/">Home</a>
        <a href="https://www.linkedin.com/in/danil-r-a-04b579291/">About Me</a>
        <a href="mailto:danilraaa07@gmail.com">Contact me</a>
    </div>
</header>
<body>
    
    <div class = "container">
        <div class = "heading">
            <h1>Velocity-Time</h1>
        </div>
        <div class = "cordi">
            <form action="/process/" method="post">
                <label for="fname">Enter the Co-ordinates</label>
                <input type="text" id="val" name="val" required><br><br>
                <input type="submit" value="Submit">
            </form>
        </div>
        <div class = "image">
        <img src = "/static/images/car.png" class = "car" width="100%" hegiht="100%" style="width:100%; height:100%; object-fit: fill;">
        </div>
    </div>

</body>
</html>